:root{
    --PRIMARY-COLOR: #F2F4BC;
    --SECONDARY-COLOR: #0E3536;
    --HIGHLIGHT-COLOR: #F46422;
    --PRIMARY-COLOR--LIGHT: #FDFFC8;
    --PRIMARY-COLOR--DARK: #DCDEA4;
    --BAD-ATTANDANCE-CARD-COLOR: #FB4C4C;
    --AVG-ATTANDANCE-CARD-COLOR: #F3D328;
    --GOOD-ATTANDANCE-CARD-COLOR: #3CB371;

    --PRIMARY-FONT: "Dosis";
    /* --COMPANY-NAME-FONT: "Sahitya"; */

}