.section-margin--second{
    margin: 0.5em 1.5rem;
}

.btn{
    border: none;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    border-radius: 20px;
}

.btn--highlight-color{
    color: whitesmoke;
    background-color: var(--HIGHLIGHT-COLOR);
    border: none;
}

.btn--highlight-color:hover{
    background-color: whitesmoke;
    color: var(--HIGHLIGHT-COLOR);
    border: 2px solid var(--HIGHLIGHT-COLOR);
}

.btn--highlight-color:active{
    color: whitesmoke;
    background-color: var(--HIGHLIGHT-COLOR);
    border: none;
    opacity: 0.8;
}

.btn--bold{
    font-weight: bold;
}

.hidden{
    display:none;
}
